<template name="battle">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
			<div>
				<!--Display a players game score-->
				<div class="filler"></div>
				<h3>Player One</h3>
				<h1><b>150</b></h1>
				<h6>points</h6>
			</div>
			</center>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
				<img src="/images/battle-bar.png" />
			</center>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
			<div>
				<!--Display a players game score-->
				<img src="/images/winner.png" />
				<h3>Player Two</h3>
				<h1><b>486</b></h1>
				<h6>points</h6>
			</div>
			</center>
		</div>
	</div>
</template>