<template name="battle">
	<div class="row">
		{{#each currentBattle}}
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
			<div>
				<!--Display a players game score-->
				{{#if isPlayerOneWinning}}
				<img src="/images/winner.png" />
				{{else}}
				<div class="filler"></div>
				{{/if}}
				<h3>{{playerOneName}}</h3>
				<h1><b>{{p1_points}}</b></h1>
				<h6>points</h6>
			</div>
			{{#each getP1Achievements}}
				{{#if sleepGoal}}
					<div class="achievement">
						<h4><i class="fa fa-bed"></i> Slept 7+ Hours: <span class="purple">+10</span></h4>
					</div>
				{{/if}}
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Points From Steps: <span class="purple">{{divideBy currentSteps}}</span></h4>
				</div>
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Points From Climbed Floors: <span class="purple">{{multiplyByTen currentFloors}}</span></h4>
				</div>
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Active Minutes: <span class="purple">{{currentActiveMinutes}}</span></h4>
				</div>
			{{/each}}
			</center>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
				<img src="/images/battle-bar.png" />
			</center>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<center>
			<div>
				<!--Display a players game score-->
				{{#if isPlayerTwoWinning}}
				<img src="/images/winner.png" />
				{{else}}
				<div class="filler"></div>
				{{/if}}
				<h3>{{playerTwoName}}</h3>
				<h1><b>{{p2_points}}</b></h1>
				<h6>points</h6>
			</div>
			{{#each getP2Achievements}}
				{{#if sleepGoal}}
					<div class="achievement">
						<h4><i class="fa fa-bed"></i> Slept 7+ Hours: <span class="purple">+10</span></h4>
					</div>
				{{/if}}
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Points From Steps: <span class="purple">{{divideBy currentSteps}}</span></h4>
				</div>
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Points From Climbed Floors: <span class="purple">{{multiplyByTen currentFloors}}</span></h4>
				</div>
				<div class="achievement">
					<h4><i class="fa fa-bed"></i> Active Minutes: <span class="purple">{{currentActiveMinutes}}</span></h4>
				</div>
			{{/each}}
			</center>
		</div>
		{{/each}}
	</div>

	{{getWinner}}
</template>