<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>About You</h1>
    </div>

      {{#if currentUser}}
        <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
          .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
          .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
          .tg .tg-thls{background-color:#009901}
          </style>
          <table class="tg">
            <tr>
              <th class="tg-thls">
                Name
              </th>
              <th class="tg-031e">
                {{currentUser.profile.fullName}}
              </th>
            </tr>
            <td class="tg-thls">
                Level
              </td>
              <td class="tg-031e">
                {{currentConfig.level}}
              </td>
            <tr>
              <td class="tg-thls">
                XP
              </td>
              <td class="tg-031e">{{currentConfig.exp}}</td>
            </tr>
            <tr>
              <td class="tg-thls">
                XP to Next Level
              </td>
              <td class="tg-031e">{{experienceToLevelUp}}</td>
            </tr>
            <tr>
              <td class="tg-thls">
                Battles Won
              </td>
              <td class="tg-031e">
                {{currentConfig.battles.length}}
              </td>
            </tr>
            <td class="tg-thls">
                Average Daily Steps
              </td>
              <td class="tg-031e">
                {{currentUser.profile.averageDailySteps}}
              </td>
          </table>

      {{/if}}

  </div>
</template>
