<template name="dashboard">
  <div class="template-dashboard">
    <div class="row top">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <center>
        <h1>{{currentUser.profile.fullName}}'s Profile</h1>
        </center>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <center>
          <h1>XP: <span class="purple">60</span></h1>
        </center>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <center>
        <h1>Level: <span class="purple">{{currentConfig.level}}</span></h1>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {{#if currentUser}}
          <h5><b>Info:</b></h5>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  Level
                </td>
                <td>
                  {{currentConfig.level}}
                </td>
              </tr>
              <tr>
                <td>
                  XP
                </td>
                <td>
                  60
                </td>
              </tr>
              <tr>
                <td>
                  XP To Next Level
                </td>
                <td>
                  40
                </td>
              </tr>
              <tr>
                <td>
                  Battles Won
                </td>
                <td>
                  9
                </td>
              </tr>
              <tr>
                <td>
                  Average Daily Steps
                </td>
                <td>
                  {{currentUser.profile.averageDailySteps}}
                </td>
              </tr>
            </tbody>
          </table>
          {{/if}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h5><b>Advantages:</b></h5>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <div class="friend-btns"><i class="fa fa-asterisk purple"></i> Gain x2 Points for Running During Battle</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="friend-btns"><i class="fa fa-asterisk purple"></i> -50 Points to Your Opponent</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="friend-btns"><i class="fa fa-asterisk purple"></i> Headstart: Begin a Battle With 50 Points</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</template>





