@purple: #9900CC;

.header-logo {
	margin-top: -18px;
}
.purple {
	color: @purple;
}

.home-div {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 150px;
	padding-right: 150px;
}
.btn-pad {
	padding-top: 50px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.challenge-div {
	background: #BCBCBC
	padding: 20px;
}