<template name="rules">
  <div class="template-rules">
    <div class="row">
    {{#if currentUser}}
      {{createConfig}}
    {{/if}}
    	<div class="col-lg-2 col-md-2 col-sm-0 col-sx-0"></div>
    	<div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
	    	<center><h1><i class="fa fa-gavel purple"></i> General Battle Rules </h1>
	    	<p>
		      You have 24 hours to battle with your opponent for the most points by achieving high activity and wellness. Battles can be declined or forfeited if you wish to end them early. The player with the most accumulated points at the end of the battle will be the winner and gain more XP toward leveling up. Levels can be used to gain advantages to use in later battles.
		    </p>
		    </center>
		</div>
	</div>
	<hr />
    <div class="row">
    	<div class="col-lg-2 col-md-2 col-sm-0 col-sx-0"></div>
    	<div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
	    	<center><h2><img src="/images/feet-purple.png" /> Steps </h2>
	    	<p>
		      For every hundred steps you take, you gain 1 point. If you take 13,050 steps you earn 130 points.
		    </p>
		    </center>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-0 col-sx-0"></div>
    	<div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
	    	<center><h2><img src="/images/stairs.png" /> Stairs </h2>
	    	<p>
		      For every flight of stairs you climb, you will also earn 1 point. 
		    </p>
		    </center>
		</div>
	</div>
    <hr />
    <div class="row">
    	<div class="col-lg-2 col-md-2 col-sm-0 col-sx-0"></div>
    	<div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
		    <center><h2><i class="fa fa-heartbeat purple"></i> Activity Levels </h2>
		    <p>
		      Every minute recorded on your fitbit as "fairly active" or "very active" will earn you 1 point.
		     </p>
		    </center>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-0 col-sx-0"></div>
    	<div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
	    	<center><h2><i class="fa fa-bed purple"></i> Sleep </h2>
	    	<p>
		      	If you sleep for more than 7 hours a day, you will earn 10 points.
		    </p>
		    </center>
		</div>
	</div>
	<hr />
</div>
</template>