<template name="rules">
  <div class="template-rules">
    <hr />
    <div class="row rules-div">
    {{#if currentUser}}
      {{createConfig}}
    {{/if}}
    	<div class="col-lg-8 col-md-8 col-sm-8 col-sx-8">
	    	<center><h1><i class="fa fa-gavel purple"></i> General Battle Rules </h1></center>
	    	<p>
		      All battles will be 24 hours in length. Both parties must agree to the battle prior to midnight of the day the challenge was made, otherwise no battle will occur. 
		    </p>
		</div>
	</div>
	<hr />
    <div class="row rules-div">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
	    	<center><h2><i class="fa fa-arrow-right purple"></i> Steps </h2></center>
	    	<p>
		      For every hundred steps you take, you gain 1 point. If you take 13,050 steps you get 130 points
		    </p>
		</div>
	</div>
	<div class="row rules-div">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
	    	<center><h2><i class="fa fa-arrow-up purple"></i> Stairs </h2></center>
	    	<p>
		      For every flight of stairs you climb, you will gain one point. 
		    </p>
		</div>
	</div>
    <hr />
    <div class="row rules-div">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
		    <center><h2><i class="fa fa-heartbeat purple"></i> Activity Levels </h2></center>
		    <p>
		      Fitbit tracks 4 stages of activity (below). For every half hour of activity at the end of the battle, the following multipliers are applied. NOTE: Sedentary Minutes will count against you. 
		      <table border="1" style="width:100%">
		      	
		      	  <tr>
				    <th>Activtity Type</th>
				    <th>Multiplier</th>
				  </tr>

				  <tr>
				    <td>Sedentary Minutes</td>
				    <td>-5</td> 
				  </tr>
				  <tr>
				    <td>Lightly Active Minutes</td>
				    <td>0</td> 
				  </tr>
				  <tr>
				    <td>Fairy Active Minutes</td>
				    <td>5</td> 
				  </tr>
				  <tr>
				    <td>Very Active Minutes</td>
				    <td>10</td> 
				  </tr>
				</table>
			If you are Sedentary for 60 minutes you will lose 10 points (60//30 =2(*-5) = -10) . If you are very active for an hour and 45 minutes you will 30 points (105//30 = 3(*10) = 30).
		    </p>
		</div>
		 <div class="row rules-div">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
	    	<center><h2><i class="fa fa-bed purple"></i> Sleep </h2></center>
	    	<p>
		      If you sleep for more than 8 hours a day, you gain 10 points.
		    </p>
		</div>
	</div>
	</div>
	<hr />
  </div>
</template>