<template name="challenge">
	<div class="row btn-pad">
		<center>
		<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">		
			<button class="btn btn-primary" href="#"><h3>Battle a Friend</h3></button>
			<button class="btn btn-primary" href="#"><h3>Find Random Opponent</h3></button>
		</div>
		</center>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
			<div class="challenge-div">
				<h3> Your Current Battles: </h3>
					<!-- Loop through users in current users "battle list" -->
					<div class="battles"> Start a new battle? </div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
			<div class="challenge-div">
				<h3>Friends:</h3>
			</div>
		</div>
	</div>

</template>