<template name="home">
  <div class="template-home">
    <div class="page-header">
      <img src="/images/mountains.png" />
    </div>
    <hr />

    <h3><i class="fa fa-arrow-up purple"></i> Level Up! </h3>

    {{#if currentUser}}
      {{createConfig}}
    {{/if}}
    <p>
      Challenge your friends or random enemies in a match of physical activity and wellness. Battle for points and then use them to level up and get advantages in future matches. The higher the level you reach, the better you will feel. Reach level 99 and you'll unlock extra features and enjoy an ad-free experience.
    </p>
    <form>
    <button id="fitbitprofile">CLICK ME</button>
    </form>
  </div>
</template>
